*{
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
}

body{
    background-color: #00ffff;
    text-align: center;
    align-items: center;
    background-image: url(office.jpg);
    background-position:center;
    background-size:cover;
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    
   
}
section{
    width: 350px;
    height: 610px;
    color:dodgerblue;
    background-color:black;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px;
}
input{
    padding: none;
    margin-top: 40px;
    color:deeppink;
    background-color:chartreuse;
    border-radius: 12px;
    width: 250px;
}
h1{
    margin-bottom: none;
}
.one{
    margin-top: none;
    color:gold;
    padding-top: none;
}
.sub{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    padding: auto;

    margin-top: none;
    margin-bottom: none;
}
h4{
    margin: none;
}
.login :hover{
    color: maroon;
}
.log{
    background-color: crimson;

}
.input{
    margin: 40px;
}