*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-position:center;
    background-size:cover;
    background-image: url(work.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
   
    font-family: sans-serif;
}
.MENU-BAR
{
background-color: aqua;
text-align: center;
}
.MENU-BAR ul
{
display: inline-flex;
list-style: none;
color: deeppink;
}
.MENU-BAR ul li
{
width: 120px;
margin: 15px;
padding: 15px;
}
.MENU-BAR ul li a
{
text-decoration: none;
color:fuchsia;
}
.active, .MENU-BAR ul li :hover
{
background-color:aqua;
border-radius: 3px;
}
.MENU-BAR .fa{
    margin-right: 1px;
}
.sub-menu-1
{
display: none;
}

.MENU-BAR ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color:aqua;
    margin-top: 15px;
    margin-left: 15px;
}
.MENU-BAR ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.MENU-BAR ul li:hover .sub-menu-1 ul li
{
width: 150px;
padding-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0;
text-align: left;
}
.MENU-BAR ul li:hover .sub-menu-1 ul li :last-child{
    border-bottom: none;
}
.MENU-BAR ul li:hover .sub-menu-1 ul li a:hover
{
    color:black;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    background-color: aqua;
}
img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: none;
    margin-top: none;
}
button
{
    width: 250px;
    height: 250px;

    margin-left: none;
    margin-top: 10px;
}
.mag{
    width: 250px;
    height: 250px; 
}